<!-- need a button that will submit user input into database -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/"><i class="fas fa-newspaper"></i> Ars Technica News Scraper <i
                class="fas fa-atom"></i></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/saved-articles">Saved Articles</a>
                </li>
            </ul>

            <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                    <a id="scrape-articles" class="nav-link btn btn-outline-primary ml-5">Scrape New Articles</a>
                </li>
                <li>
                    <a class="nav-item btn btn-primary ml-5" id="spinner" disabled>
                        <span class="spinner-border" style="width: 1.6rem; height: 1.6rem;" role="status"
                            aria-hidden="true"></span>
                        Loading...
                    </a>
                </li>
                <li class="nav-item">
                    <a id="clear-articles" class=" ml-2 nav-link btn btn-outline-danger">Clear Scraped Articles</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container px-5">

    {{!-- <header class="p-5 text-center">
        <h1><i class="fas fa-newspaper"></i> Ars Technica News Scraper <i class="fas fa-atom"></i></h1>

    </header> --}}
    <!-- LIST ARTICLES -->
    <div class="row pb-5">

        {{!-- <div class="card-group"> --}}
        {{#each data}}
        <div class="card m-3 bg-dark text-light">
            <img class="card-img-top" src={{ img }} alt="Card image cap">
            <div class="card-body">
                <a href={{ link }}>
                    <h5 class="card-title">{{ title }}</h5>
                </a>
                <p>{{ excerpt }}</p>
            </div>
            <div class="card-footer">
                {{#if saved}}
                <a class="btn-article btn btn-secondary" data-id={{ id }} disabled>
                    <i class="fas fa-minus"></i>
                    Saved
                    <i class="fas fa-newspaper"></i>
                </a>
                {{else}}
                <a class="save-article btn-article btn btn-primary" data-id='{{ id }}'>
                    <i class="fas fa-plus"></i>
                    Save Article
                    <i class="fas fa-newspaper"></i>
                </a>
                {{/if}}
            </div>
        </div>
        {{/each}}
        {{!-- </div> --}}

        <!-- CLEAR SCRAPED ARTICLES CONFIRM MODAL -->
        <div id="clear-modal" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title text-danger">Clear All Scraped Articles</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p class="text-danger">Are you sure you want to remove all the scraped articles and their notes?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button id="clear-submit" type="button" class="btn btn-danger">Clear Scraped Articles</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- END CONTAINER -->
</div>

<script src="assets/js/jquery_index.js"></script>