<!-- need a button that will submit user input into database -->
<div class="container px-5">

    <header class="p-5 text-center">
        <h1><i class="fas fa-newspaper"></i> Ars Technica News Scraper <i class="fas fa-atom"></i></h1>

    </header>
    <!-- LIST ARTICLES -->
    <div class="row pb-5">

        {{!-- <div class="card-group"> --}}
        {{#each data}}
        <div class="card m-3 bg-dark text-light">
            <img class="card-img-top" src={{ img }} alt="Card image cap">
            <div class="card-body">
                <a href={{ link }}>
                    <h5 class="card-title">{{ title }}</h5>
                </a>
                <p>{{ excerpt }}</p>
            </div>
            <div class="card-footer">
                {{#if saved}}
                <a class="btn-article btn btn-secondary" data-id={{ id }} disabled>
                    <i class="fas fa-minus"></i>
                    Saved
                    <i class="fas fa-newspaper"></i>
                </a>
                {{else}}
                <a class="save-article btn-article btn btn-primary" data-id='{{ id }}'>
                    <i class="fas fa-plus"></i>
                    Save Article
                    <i class="fas fa-newspaper"></i>
                </a>
                {{/if}}
            </div>
        </div>
        {{/each}}
        {{!-- </div> --}}

        <!-- SCRAPE CONFIRM MODAL -->
        <div id="scrape-modal" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Scrape New Artices</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Would you like to clear the existing articles and scrape the latest ones?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button id="scrape-button" type="button" class="btn btn-primary">Scrape Articles</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- END CONTAINER -->
</div>

<script src="assets/js/jquery_index.js"></script>