<!-- need a button that will submit user input into database -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/"><i class="fas fa-newspaper"></i> MongoDB News Scraper <i
                class="fas fa-atom"></i></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="active nav-link" href="/saved-articles">Saved Articles</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<header class="p-4 text-center semi-opaque">
    <h1><i class="fas fa-newspaper"></i> MongoDB News Scraper <i class="fas fa-atom"></i></h1>
    <h3>Saved Articles</h3>

</header>

<div class="container px-5">

    {{!-- <header class="p-5 text-center semi-opaque">
        <h1><i class="fas fa-newspaper"></i> Ars Technica News Saved Articles <i class="fas fa-atom"></i></h1>

    </header> --}}
    <!-- LIST ARTICLES -->
    <div class="row pb-5">

        {{!-- <div class="card-group"> --}}
        {{#each data}}
        <div class="card m-3 bg-dark text-light">
            <img class="card-img-top" src={{ img }} alt="Card image cap">
            <div class="card-body">
                <a href={{ link }}>
                    <h5 class="card-title">{{ title }}</h5>
                </a>
                <p>{{ excerpt }}</p>
            </div>
            <div class="card-footer">
                <button class="notes btn btn-primary mr-2" data-id={{ id }}>
                    <i class="fas fa-sticky-note"></i>
                </button>
                <button class="remove-article btn btn-warning mr-2" data-id={{ id }}>
                    <i class="fas fa-trash"></i>
                </button>
            </div>
        </div>
        {{/each}}
        {{!-- </div> --}}

        <!-- Add Note Modal -->
        <div id="add-note-modal" class="modal fade" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header bg-dark">
                        <h5 class="modal-title" id="exampleModalLabel">Notes for "<span id="modal-article-name"></span>"
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-2">
                            <small class="text-muted">Article ID: <span id="modal-id"></span></small>

                        </div>
                        <div id="modal-notes" class="mb-5">Notes Here</div>
                        <form>
                            <div class="form-group">
                                <textarea id="note-message" rows="4" class="form-control" placeholder="Add Note..."
                                    required></textarea>
                            </div>
                            <button id="submit-note" class="btn btn-primary" data-id="" type="submit">Add Note</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- END CONTAINER -->
</div>


<script src="assets/js/jquery_saved_articles.js"></script>